doctype html
html(ng-app="demo")
  head
    meta(charset="utf-8")
    title Passing JS variables from Express to Angular test
  
  body
    h1 Passing JS variables from Express to Angular test
    nav
      ul
        li: a(href="/javascript-global") JavaScript Global
        li: a(href="/restful-json") RESTful JSON
        li: a(href="/ng-init") Angular's ng-init

    block body

