extends layout

block body
  div
    h2 RESTful JSON request
    ul(ng-controller="RestfulJsonCtrl")
      li(ng-repeat="user in users") {{ user.name }} {{ user.email }}

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
  script(src='/js/core.js')

